@mixin clear-ul {
    ul {
        margin: 0;
        padding: 0;

        & > li {
            list-style: none;
        }
    }
}

@mixin hr-ul {
    @include clear-ul;

    ul > li {
        float: left;
    }
}
